attrs
Automat
autopep8
blinker
cachelib
certifi
chardet
Click
colorama
configobj
constantly
cryptography
cs50
dbus-python
distro
EditorConfig
entrypoints
Flask
Flask-Session
httplib2
hyperlink
icdiff
idna
importlib-metadata
incremental
itsdangerous
jellyfish
Jinja2
jsbeautifier
jsonpatch
jsonpointer
jsonschema
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lib50
MarkupSafe
more-itertools
mysql-connector-python
netifaces
oauthlib
pexpect
protobuf
ptyprocess
pyasn1
pyasn1-modules
pycodestyle
PyGObject
PyHamcrest
PyJWT
pymacaroons
PyNaCl
pyOpenSSL
pyrsistent
pyserial
python-apt
python-debian
python-dotenv
python-magic
PyYAML
requests
requests-unixsocket
SecretStorage
service-identity
simplejson
six
SQLAlchemy
sqlparse
ssh-import-id
style50
submit50
termcolor
toml
Twisted
ubuntu-advantage-tools
ufw
unattended-upgrades
urllib3
wadllib
Werkzeug
zipp
zope.interface